*{
    box-sizing: border-box;
}

img{
    display: flex;
    max-width: 100%;

}

body{
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    }
html{
    box-sizing: border-box;
    background-color:gray;
    overflow-x: hidden;}
*,*::before *::after{
    box-sizing: inherit;
}

header{
    position: relative;
    top: 0;
    width: 100%;
    padding: auto;
    background-image: url(https://images.pexels.com/photos/270348/pexels-photo-270348.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    
    }
    
li{
    list-style: none;
    margin: 0;
    padding: 0;
    }
    
a{
    color:wheat;
    text-decoration: none;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }


    
.container1{
    display: flex;
    width: 1280px;
    margin:auto;
    flex-direction:column;
    }
/* .container2{
    display: flex;
    width: 1280px;
    margin:auto;
    flex-direction:row;
    max-height: 100%;
} */
    
.navbar{
    /* width: 90%;
    margin: auto;
    min-height: 60px; */
    display:flex;
    justify-content:space-between;
    align-items: center;
    background-color: black;
    max-width: fit-content;
  
    }

.nav-list{
    display: flex;  
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    font-size: 25px;
}
.nav-list li a {
    color: firebrick;
    pad:1rem;
    display: block;
}
.nav-list li a:hover{
background-color: #ffee10;

}

.Header-Title{ 
    font-size: 2rem;
    color: white;
    margin: .5rem;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
.div1 { grid-area: 1 / 1 / 2 / 3; 
    border: solid black;
    border: solid black;
        display: flex;
        align-items: center;
        justify-content: center}
    
    
.div2 { grid-area: 1 / 3 / 2 / 6; 
        border: solid black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    
.div3 { grid-area: 2 / 1 / 4 / 3;
        border: solid black;
        display: flex;
        align-items: center;
        justify-content: center; }
    
    
.div4 { grid-area: 2 / 3 / 4 / 6;
        border: solid black }
    
    
.div5 { grid-area: 4 / 1 / 5 / 3;
    height: 250px;
    border: solid black;     
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.div6 {
    grid-area: 4 / 3 / 5 / 6;
    border: solid black;
    height: 250px;
    
}        
    

.mainrow{
    display: flex;
    justify-content: center;
    margin-bottom: 3vh;
    margin-top: 3vh;
}
.container{
    position: relative;
    text-align: center;
    color: azure;
}
.Centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.firstrow{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 3vh;
}

#work-title{
    font-size: 2.5rem;
   
}
#main-img:hover{
    color: blue;
    box-shadow: 0 0 5px blue;
    text-shadow: 0 0 5px blue;   

}

.row-img:hover{
    color: #ffee10;
    box-shadow: 0 0 5px #ffee10;
    text-shadow: 0 0 5px #ffee10;   
}


.div2-txt {
    font-size: 20px;
    padding-left: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.bottom-nav{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    max-width: fit-content;
    margin-left: 10%;

    
}
.Contact-link{
    display: flex;
    justify-content: center;
    gap:100px;
    font-size: 20px;
    color: black;
    max-width: fit-content;
    
}

.row-img{
    display: flex;
    border: blue 2px solid
    }

    .Head-shot{
    padding: 5%;
}

@media(max-width:1280px) {
        .container{
            margin:2rem;

        }
        .container1{
            margin: 1rem;
        
        }
        .Contact-link{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 5px;
            margin-right: 30%;
        }
        .bottom-nav{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        img{
            max-width:100%;
        }
    }