body{
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    }
html{
    box-sizing: border-box;
    background-color:gray;
    }
*,*::before *::after{
    box-sizing: inherit;
}

header{
    position: relative;
    top: 0;
    width: 100%;
    padding: auto;
    background-image: url(https://images.pexels.com/photos/270348/pexels-photo-270348.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    
    }
    
li{
    list-style: none;
    }
    
a{
    color:wheat;
    text-decoration: none;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    
.container1{
    display: flex;
    width: 1280px;
    margin:auto;
    flex-direction:column;
    }

    
.navbar{
    width: 90%;
    margin: auto;
    min-height: 60px;
    display:flex;
    justify-content:space-between;
    align-items: center;
  
    }

.nav-list{
    display: flex;  
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    font-size: 25px;
}

.Header-Title{ 
    font-size: 2rem;
    color: white;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
.div1 { grid-area: 1 / 1 / 2 / 3; 
    border: solid black;
    border: solid black;
        display: flex;
        align-items: center;
        justify-content: center}
    
    
.div2 { grid-area: 1 / 3 / 2 / 6; 
        border: solid black}
    
    
.div3 { grid-area: 2 / 1 / 4 / 3;
        border: solid black;
        display: flex;
        align-items: center;
        justify-content: center; }
    
    
.div4 { grid-area: 2 / 3 / 4 / 6;
        border: solid black }
    
    
.div5 { grid-area: 4 / 1 / 5 / 6;
        border: solid black }
    

.mainrow{
    display: flex;
    justify-content: center;
    margin-bottom: 3vh;
    margin-top: 3vh;
}
.container{
    position: relative;
    text-align: center;
    color: azure;
}
.Centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.firstrow{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 3vh;
}

#work-title{
    font-size: 2.5rem;
   
}
#main-img:hover{
    color: blue;
    box-shadow: 0 0 5px blue;
    text-shadow: 0 0 5px blue;   

}

.row-img:hover{
    color: #ffee10;
    box-shadow: 0 0 5px #ffee10;
    text-shadow: 0 0 5px #ffee10;   
}


.div2-txt {
    text-align: right;
    


}







 


@media(max-width:1980px) {
        .container{
            width: 100%;
        }
    }